<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Ceicom_Buytogether>
            <version>0.0.1</version>
        </Ceicom_Buytogether>
    </modules>
    <global>
        <blocks>
            <ceicom_buytogether>
                <class>Ceicom_Buytogether_Block</class>
            </ceicom_buytogether>
        </blocks>
        <helpers>
            <ceicom_buytogether>
                <class>Ceicom_Buytogether_Helper</class>
            </ceicom_buytogether>
        </helpers>
        <models>
            <ceicom_buytogether>
                <class>Ceicom_Buytogether_Model</class>
            </ceicom_buytogether>
            <catalog>
                <rewrite>
                    <!-- <product>Ceicom_Buytogether_Model_Catalog_Product</product> -->
                    <product_link>Ceicom_Buytogether_Model_Catalog_Product_Link</product_link>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <ceicom_buytogether_setup>
                <setup>
                    <module>Ceicom_Buytogether</module>
                    <class>Ceicom_Buytogether_Model_Resource_Setup</class>
                </setup>
            </ceicom_buytogether_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ceicom_buytogether before="Mage_Adminhtml">Ceicom_Buytogether_Adminhtml</ceicom_buytogether>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <ceicom_buytogether>
                    <file>ceicom_buytogether.xml</file>
                </ceicom_buytogether>
            </updates>
        </layout>
        <!-- <events>
            <checkout_cart_product_add_after>
                <observers>
                    <ceicom_buytogether>
                        <type>singleton</type>
                        <class>ceicom_buytogether/observer</class>
                        <method>addToCart</method>
                    </ceicom_buytogether>
                </observers>
            </checkout_cart_product_add_after>
        </events> -->
        <routers>
            <buytogether>
                <use>standard</use>
                <args>
                    <module>Ceicom_Buytogether</module>
                    <frontName>buytogether</frontName>
                </args>
            </buytogether>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ceicom_buytogether>
                    <file>ceicom_buytogether.xml</file>
                </ceicom_buytogether>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <ceicom_buytogether_catalog_product_prepare_save>
                        <class>ceicom_buytogether/observer</class>
                        <method>catalogProductPrepareSave</method>
                    </ceicom_buytogether_catalog_product_prepare_save>
                </observers>
            </catalog_product_prepare_save>
            <catalog_model_product_duplicate>
                <observers>
                    <ceicom_buytogether_catalog_product_prepare_save>
                        <class>ceicom_buytogether/observer</class>
                        <method>catalogModelProductDuplicate</method>
                    </ceicom_buytogether_catalog_product_prepare_save>
                </observers>
            </catalog_model_product_duplicate>
        </events>
    </adminhtml>
</config>
